<div class="row">
    <img src="{{imgFilePath}}" class="item-image">
    <div class="content">
        <h1 class="item-name" style="{{item.nameStyle}}">{{name}}</h1>
        <span class="item-amount-label" style="{{item.amountStyle}}">
		    {{currency_amount}}
	    </span>
        <img class="currency" src="{{currency.imgFilePath}}">
    </div>
    <div class="item-price" style="{{item.priceStyle}}">
        <label>${{price}}</label>
    </div>
    <div class="buy-container">
        <a class="buy">
            <img src="{{images.buyImage}}">
        </a>
    </div>
</div>
