<div class="row">
    <img src="{{imgFilePath}}" class="item-image">
    <div class="content">
        <h1 style="{{item.nameStyle}}">{{name}}</h1>
        <img class="upgrade-bar" src="{{upgradeBarImage}}">
    </div>
    <div class="actions">
        <div class="price" style="{{item.priceStyle}}">
            <label>{{price}}</label>
            <img src="{{currency.imgFilePath}}">
        </div>
        <img src="{{images.expandImage}}" class="expand-collapse">
    </div>
	<div class="complete-indicator" style="{{item.priceStyle}}">
		<label>Fully Upgraded</label>
	</div>
</div>
<div class="row">
    <div class="description" style="{{item.descriptionStyle}}">{{description}}</div>
    <div class="buy-container">
        <a class="upgrade">
            <img src="{{images.buyImage}}">
        </a>
    </div>
</div>
