<img src="{{imgFilePath}}" class="item-image">
<div class="price font-face-2">
    <h1 class="item-name">{{name}}</h1>
    <h2 class="item-amount">
	    <img src="{{currencyImage}}">
	    {{currency_amount}}
    </h2>
</div>
<a class="buy item-price font-face-2">
	{{price}}
</a>
