<a>
    <img src="{{imgFilePath}}" class="visual">
    <div class="price font-face-2">
        <h1 style="{{nameStyle}}">{{currency_amount}}</h1>
        <h2 style="{{priceStyle}}">${{price}}</h2>
    </div>
    <img src="{{itemSeparator}}" class="separator">
</a>
