<img src="{{imgFilePath}}" class="visual">
<div class="content">
    <div class="row">
        <div class="description">
            <label>{{description}}</label>
        </div>
    </div>
    <div class="row price">
        <img src="{{currency.imgFilePath}}" class="currency">
        <label>{{price}}</label>
        <a class="buy">
            <img src="{{buyOnce}}">
        </a>
        <a class="equip">
            <img src="{{equip}}">
        </a>
        <img class="active" src="{{active}}">
    </div>
	<div class="row own">
		<label>
			Owned
		</label>
	</div>
</div>
<img src="{{itemSeparator}}" class="separator">