<img src="{{imgFilePath}}" class="visual">
<div class="content">
    <div class="row">
        <div class="balanceWrap">
            <div class="balance"><label>{{balance}}</label></div>
            <div class="balance"><label>{{balance}}</label></div>
        </div>
        <div class="description">
            <label>{{description}}</label>
        </div>
    </div>
    <div class="row price">
        <img src="{{currency.imgFilePath}}" class="currency">
        <label>{{price}}</label>
        <a class="buy">
            <img src="{{buy}}">
        </a>
    </div>
</div>
<img src="{{itemSeparator}}" class="separator">