<div class="visual-container">
	<img src="{{imgFilePath}}" class="visual">
	<img src="{{ownedIndicatorImage}}" class="owned-indicator">
</div>



<div class="price font-face-2">
    <h1 class="item-name">{{name}}</h1>
	<h2 class="item-price">${{price}}</h2>
</div>
<img src="{{itemSeparator}}" class="separator">
