<img src="{{imgFilePath}}" class="visual">
<div class="content">
    <div class="row">
		{{#check type "singleUse"}}
        <div class="balanceWrap">
            <div class="balance"><label>{{balance}}</label></div>
            <div class="balance"><label>{{balance}}</label></div>
        </div>
		{{/check}}
        <div class="description">
            <label>{{description}}</label>
        </div>
    </div>
    <div class="row price">
		{{#if isMarketPurchaseType}}
            <label>${{price}}</label>
		{{else}}
            <img src="{{currency.imgFilePath}}" class="currency">
            <label>{{price}}</label>
		{{/if}}
        <a class="buy">
            <img src="{{buy}}">
        </a>
    </div>
</div>
<img src="{{itemSeparator}}" class="separator">
