<div class="content font-face-2">
    <img class="item-image" src="{{imgFilePath}}" />
    <div class="item-name">{{name}}</div>
    <div class="item-description">{{description}}</div>
    <div class="item-amount">{{amount}}</div>
    <div class="item-price">${{price}}</div>
    <div class="item-amount">
        <span class="item-amount-label">{{currency_amount}}</span>
        <img src="{{currency.imgFilePath}}" class="item-currency-image" />
    </div>
    <a class="buy">
        <img src="{{buy}}" />
    </a>
</div>