<div class="content font-face-2">
  <div class="row">
    <div class="item-description">{{description}}</div>
  </div>
  <div class="row balanceRow">
    <img class="visual" src="{{imgFilePath}}" />
  </div>
  <div class="row item-price">
    <label>{{price}}</label>
    <img src="{{currency.imgFilePath}}" class="currency" />
    <a class="buy">
      <img src="{{buyOnceImage}}" />
    </a>
    <a class="equip">
      <img src="{{equip}}" />
    </a>
    <span class="active">
      <img src="{{active}}" />
    </span>
  </div>
</div>