{{fontFaceStylesheet fonts}}
<div id="goods-store" data-role="page">


    <div class="content">
        <div class="header">
            <img class="title-image" src="{{common.titleImage}}">
            <div class="balance-container font-face-2">
                <img class="balance-image" src="{{common.balanceImage}}" alt="Balance Image">
                <div class="label-container">
                    {{#each currencies}}
                    <label>{{this.balance}}</label>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="items-container">
	        <div data-iscroll="true">
	        </div>
        </div>
        <div class="footer">
            <a><img src="{{common.moreCurrencyButton}}" class="currency buy-more"></a>
            <a><img src="{{common.backButton}}" class="leave-store"></a>
        </div>
    </div>
</div>
<div id="currency-store" data-role="page">

    <div class="content">
        <div class="header">
            <img class="title-image" src="{{common.titleImage}}">
            <div class="balance-container font-face-2">
                <img class="balance-image" src="{{common.balanceImage}}" alt="Balance Image">
                <div class="label-container">
                    {{#each currencies}}
                    <label>{{this.balance}}</label>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="items-container">
            <div data-iscroll="true">
                <div class="currency-packs">
                </div>
                <div class="non-consumables">
                </div>
            </div>
        </div>
        <div class="footer">
            <a><img src="{{common.backButton}}" class="back"></a>
        </div>
    </div>
</div>
