<div class="visual">
    <img src="{{imgFilePath}}">
</div>
<div class="buy-container">
    <a><img src="{{images.buyImage}}" class="buy"></a>
    <img src="{{currency.imgFilePath}}">
    <label class="price">{{price}}</label>
</div>
<div class="equip-container">
    <a><img src="{{images.equip}}" class="equip"></a>
    <img src="{{images.equipped}}" class="active">
</div>
<div class="description-container">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
</div>
