<div class="visual">
    <img src="{{imgFilePath}}">
</div>
<div class="buy-container">
	<a>
        <img src="{{images.buyImage}}" class="buy">
	</a>
	<div class="info">
		<div>
			{{#if isMarketPurchaseType}}
                <label class="price">${{price}}</label>
			{{else}}
                <img src="{{currency.imgFilePath}}">
                <label class="price">{{price}}</label>
			{{/if}}
		</div>
		<div class="item-balance">
            Balance: <label class="balance">{{balance}}</label>
		</div>
	</div>
</div>
<div class="description-container">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
</div>
