<div class="visual">
    <img src="{{imgFilePath}}">
</div>
<div class="buy-container">
    <img src="{{images.buyImage}}" class="buy">
	<div class="price-container">
        <img src="{{currency.imgFilePath}}">
        <label style="{{item.priceStyle}}">{{price}}</label>
	</div>
</div>
<div class="description-container">
    <h1 style="{{item.nameStyle}}">{{name}}</h1>
    <p style="{{item.descriptionStyle}}">{{description}}</p>
</div>
