<div class="visual">
    <img src="{{imgFilePath}}">
</div>
<div class="buy-container">
    <img src="{{images.buyImage}}" class="buy">
    <img src="{{currency.imgFilePath}}">
    <label style="{{item.priceStyle}}">{{price}}</label>
</div>
<img src="{{images.equip}}" class="equip">
<img src="{{images.equipped}}" class="active">
<div class="description-container">
    <h1 style="{{item.nameStyle}}">{{name}}</h1>
    <p style="{{item.descriptionStyle}}">{{description}}</p>
</div>
