<div class="visual">
    <img src="{{imgFilePath}}">
</div>
<div class="buy-container">
    <img src="{{images.buyImage}}" class="buy">
    <img src="{{currency.imgFilePath}}">
    <label class="price">{{price}}</label>
</div>
<img src="{{images.equip}}" class="equip">
<img src="{{images.equipped}}" class="active">
<div class="description-container">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
</div>
