{{fontFaceStylesheet fonts}}
<div id="content-container" style="background-image: url('{{images.contentBackground}}');">
    <div id="header"  style="background-image: url('{{images.headerBackground}}');" class="font-face-1">
        <div id="title-container">
            <a id="quit">
                <img src="{{images.quit}}">
            </a>
            <h1 id="title" style="{{titleStyle}}"></h1>
        </div>
        <div id="balance-container">
            <img class="balance-image" src="{{balance.backgroundImage}}" alt="Balance Image">
            <div class="label-container" style="{{balance.style}}">
                {{#each currencies}}
                <label>{{this.balance}}</label>
                {{/each}}
            </div>
        </div>
    </div>

    <div id="categories" style="background-image: url('{{images.itemAreaBackground}}');" class="font-face-2"></div>
    <div id="footer" style="background-image: url('{{images.footerBackground}}');">
	    <div id="menus-container" class="clearfix">
            <ul id="category-menu"></ul>
            <ul id="currency-menu"></ul>
	    </div>
    </div>
</div>
