<img src="{{imgFilePath}}" class="item-image">
<div class="item-name font-face-1">{{name}}</div>
<div class="item-description font-face-2">{{description}}</div>
<div class="item-balance-container font-face-1">
    <span class="item-balance-label">You have: </span>
    <span class="item-balance">{{balance}}</span>
</div>
<div class="item-price font-face-2">${{price}}</div>

