<div class="content font-face-2" data-itemid="{{itemId}}" data-categoryid="{{currency_itemId}}" style="background-image: url({{backgroundImgFilePath}})">
  <div class="row">
    <div class="description">
      <label style="{{nameStyle}}">{{name}}</label>
    </div>
  </div>
  <img class="visual" src="{{imgFilePath}}"></img>
  <div class="row price">
    <label style="{{priceStyle}}">{{price}}$</label>
    <a class="buy">
      <img src="{{buy}}" />
    </a>
  </div>
</div>