<div class="content font-face-2" data-categoryid="{{currency_itemId}}" style="background-image: url({{imgFilePath}})">
  <div class="row">
    <div class="description">
      <label style="{{nameStyle}}">{{name}}</label>
    </div>
  </div>
  <div class="visual"></div>
  <div class="row price">
    <label style="{{priceStyle}}">{{price}}$</label>
    <a class="buy">
      <img src="{{buy}}" />
    </a>
  </div>
</div>
<img src="{{itemSeparator}}" class="separator" />