<div class="content" data-itemid="{{itemId}}" data-categoryid="{{categoryId}}" style="background-image: url({{backgroundImgFilePath}})">
  <div class="row">
    <div class="description">
      <label style="{{descriptionStyle}}">{{description}}</label>
    </div>
  </div>
  <img class="visual" src="{{imgFilePath}}"></img>
  <div class="row price">
    <label style="{{priceStyle}}">{{price}}</label>
    <img src="{{currency.imgFilePath}}" class="currency" />
    <a class="buy">
      <img src="{{buyOnce}}" />
    </a>
    <a class="equip">
      <img src="{{equip}}" />
    </a>
    <img class="active" src="{{active}}" />
  </div>
</div>