<div class="content" data-categoryid="{{categoryId}}">
    <div class="row">
        <div class="description">
            <label style="{{descriptionStyle}}}">{{description}}</label>
        </div>
    </div>
    <img src="{{imgFilePath}}" class="visual" />
    <div class="row price">
        <label style="{{priceStyle}}}">{{price}}</label>
        <img src="{{currency.imgFilePath}}" class="currency" />
        <a class="buy">
            <img src="{{buyOnce}}" />
        </a>
        <a class="equip">
            <img src="{{equip}}" />
        </a>
        <img class="active" src="{{active}}" />
    </div>
</div>
<img src="{{itemSeparator}}" class="separator" />