<div class="content" data-categoryid="{{categoryId}}" style="background-image: url({{backgroundImgFilePath}})">
  <div class="row">
    <div class="description">
      <label style="{{descriptionStyle}}">{{description}}</label>
    </div>
  </div>
  <div class="row balanceRow">
    <div class="balance">
      <label>{{balance}}</label>
    </div>
    <img class="visual" src="{{imgFilePath}}"></img>
  </div>
  <div class="row price">
    <label style="{{priceStyle}}">{{price}}</label>
    <img src="{{currency.imgFilePath}}" class="currency" />
    <a class="buy">
      <img src="{{buy}}" />
    </a>
  </div>
</div>