<div class="content">
    <div class="row">
        <div class="description">
            <label style="{{descriptionStyle}}}">{{description}}</label>
        </div>
    </div>
    <img src="{{imgFilePath}}" class="visual" />
    <div class="row price">
      <label style="{{priceStyle}}}">{{price}}</label>
      <img src="{{currency.imgFilePath}}" class="currency" />
      <div>
            <a class="buy">
                <img src="{{buy}}" />
            </a>
        </div>
    </div>
</div>
<img src="{{itemSeparator}}" class="separator" />