<div class="visual-container">
	<img src="{{imgFilePath}}" class="visual">
	<img src="{{ownedIndicatorImage}}" class="owned-indicator">
</div>



<div class="price font-face-2">
    <h1 style="{{nameStyle}}">{{name}}</h1>
	<h2 style="{{priceStyle}}">{{price}}$</h2>
</div>
<img src="{{itemSeparator}}" class="separator">
