{{fontFaceStylesheet fonts}}
<div id="content-container">
	<div id="goods-store" data-role="page">
		<div class="content">
			<div class="header">
				<img class="title-image" src="{{common.titleImage}}">
				<div class="categories"></div>
			</div>
			<div class="items-container">
				<div data-iscroll="true">
				</div>
			</div>
			<div class="footer">
				<div class="balance-container font-face-2">
					<label class="label-title" style="{{balance.title.style}}">{{balance.title.text}}</label>
					{{#each currencies}}
						<div class="label-container">
							<label data-currency="{{this.itemId}}">{{this.balance}}</label>
							<img class="currency" src="{{this.imgFilePath}}">
						</div>
					{{/each}}
				</div>
				<div class="buttons">
					<a><img src="{{common.moreCurrencyButton}}" class="currency buy-more" style="margin-right: 300px"></a>
					<a><img src="{{common.backButton}}" class="leave-store"></a>
				</div>
			</div>
		</div>
	</div>
	<div id="currency-store" data-role="page">
		<div class="content">
			<div class="header">
				<img class="title-image" src="{{common.titleImage}}">
			</div>
			<div class="items-container">
				<div data-iscroll="true">
					<div class="currency-packs">
					</div>
					<div class="non-consumables">
					</div>
					<div id="restore-purchases">
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="balance-container font-face-2">
					<label class="label-title" style="{{balance.title.style}}">{{balance.title.text}}</label>
					{{#each currencies}}
						<div class="label-container">
							<label data-currency="{{this.itemId}}">{{this.balance}}</label>
							<img class="currency" src="{{this.imgFilePath}}">
						</div>
					{{/each}}
				</div>
				<div class="buttons">
					<a><img src="{{common.backButton}}" class="back"></a>
				</div>
			</div>
		</div>
	</div>
</div>