{{#if odd}}
    <img src="{{imgFilePath}}" class="item-image">
    <div class="content">
        <div class="item-name font-face-1">{{name}}</div>
        <div class="item-description font-face-1">{{description}}</div>
	    <div class="item-balance-container font-face-1">
			<span class="item-balance-label">Balance: </span>
            <span class="item-balance">{{balance}}</span>
	    </div>
    </div>
{{else}}
    <div class="content">
        <div class="item-name font-face-1">{{name}}</div>
        <div class="item-description font-face-1">{{description}}</div>
        <div class="item-balance-container font-face-1">
            <span class="item-balance-label">Balance: </span>
            <span class="item-balance">{{balance}}</span>
        </div>
    </div>
    <img src="{{imgFilePath}}" class="item-image">
{{/if}}

<label class="item-price font-face-2">${{price}}</label>
