<div class="row">
    <img src="{{imgFilePath}}" class="item-image">
    <div class="content" style="{{item.nameStyle}}">
        <h1>{{name}}</h1>
        <span class="amount-label">
		    {{currency_amount}}
	    </span>
        <img class="currency" src="{{currency.imgFilePath}}">
    </div>
    <div class="buy-container">
        <a class="buy">
            <img src="{{images.buyImage}}">
        </a>
        <div class="price" style="{{item.priceStyle}}">
            <label>{{price}}$</label>
        </div>
    </div>
</div>
