<div class="row">

    <img src="{{images.ownedIndicatorImage}}" class="owned">
    <img src="{{images.notOwnedIndicatorImage}}" class="not-owned">

    <img src="{{imgFilePath}}" class="item-image">
    <div class="content">
        <h1 style="{{item.nameStyle}}">{{name}}</h1>
    </div>
    <div class="actions">
	    <img src="{{images.equipped}}" class="toggle-equip equipped">
        <img src="{{images.equip}}" class="toggle-equip equip">

        <div class="price" style="{{item.priceStyle}}">
	        <label>{{price}}</label>
	        <img src="{{currency.imgFilePath}}">
	    </div>
        <img src="{{images.expandImage}}" class="expand-collapse">
	</div>
</div>
<div class="row">
    <div class="description" style="{{item.descriptionStyle}}">{{description}}</div>
    <div class="buy-container">
        <a class="buy">
            <img src="{{images.buyImage}}">
        </a>
    </div>
</div>