{{fontFaceStylesheet fonts}}
<div id="content-container">
    <div class="header font-face-1">
        <div class="back">
            <a id="quit-button"><img src="{{images.quitImage}}"></a>
            <a id="back-button"><img src="{{images.backImage}}"></a>
        </div>
        <div class="title-container">
            <h1>{{pages.menu.title}}</h1>
        </div>
        <div id="balance-container">
            <img class="balance-image" src="{{pages.menu.balance}}" alt="Balance Image">
            <div class="label-container">
                {{#each currencies}}
                <label>{{this.balance}}</label>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="pages" class="font-face-2">
    </div>
</div>
