<div class="row">
    <img src="{{imgFilePath}}" class="item-image">
    <div class="content">
        <h1 class="item-name">{{name}}</h1>
        <div class="item-balance-wrap">
    	    <span class="balance-label">
    		    You have:
    	    </span>
            <span class="balance">{{balance}}</span>
        </div>
    </div>
    <div class="actions">
        <div class="item-price">
		    {{#if isMarketPurchaseType}}
                <label>${{price}}</label>
		    {{else}}
                <label>{{price}}</label>
                <img src="{{currency.imgFilePath}}">
		    {{/if}}
        </div>
        <img src="{{images.expandImage}}" class="expand-collapse">
	</div>
</div>
<div class="row">
    <div class="item-description">{{description}}</div>
    <div class="buy-container">
        <a class="buy">
            <img src="{{images.buyImage}}">
        </a>
    </div>
</div>