{{fontFaceStylesheet fonts}}
<div id="content-container">
    <div class="header font-face-1">
        <div id="top-bar">
            <div class="back">
                <a id="quit-button"><img src="{{images.quitImage}}"></a>
                <a id="back-button"><img src="{{images.backImage}}"></a>
            </div>
            <div id="balance-container">
                {{#each currencies}}
                <div class="label-container">
                    <label data-currency="{{this.itemId}}">{{this.balance}}</label>
                    <img class="currency" src="{{this.imgFilePath}}" alt="Balance Image">
                </div>
                {{/each}}
            </div>
        </div>
        <div class="title-container">
            <h1>{{pages.menu.title}}</h1>
            <h2></h2>
        </div>
    </div>
    <div id="pages" class="font-face-2">
    </div>
</div>
